---
import Layout from "../../Layout/Neutral.astro";
import LoginForm from "../../components/LoginForm";
---

<Layout title="Rader | login">
  <main
    class="bg-gradient-to-r absolute h-full w-full pt-44 from-blue-800 to-blue-900"
  >
    <LoginForm client:load />
  </main>
</Layout>
