---
import Layout from "../../Layout/Neutral.astro";
import RegisterForm from "../../components/RegisterForm";
---

<Layout title="Rader | register">
  <div
    class="bg-gradient-to-r absolute h-full w-full pt-44 from-blue-800 to-blue-900"
  >
    <RegisterForm client:load />
  </div>
</Layout>
