---
import RegisterForm from "../../components/RegisterForm";
---

<body
  class="flex justify-center items-center mt-20 bg-gradient-to-r from-blue-800 to-blue-900"
>
  <RegisterForm client:load />
</body>
