---
import Layout from "../Layout/Layout.astro";
---

<Layout
  title="Home"
  cardTitle="Welcome"
  cardContent="created an account and add your songs to the community repertory to learn."
  buttonCardUrl="/auth/login"
  buttonMessage="get started"
>
  <main>
    <h1>hola</h1>
  </main>
</Layout>
