---
import Layout from "../Layout/Layout.astro";
import SongShowMin from "../components/SongsShowMin";
---

<Layout
  title="songs"
  cardTitle="Discover"
  buttonCardUrl="#searchSong"
  buttonMessage="search song"
  cardContent="view the songs the you want to learn, there's songs available totally free"
>
  <div id="searchSong" class="">
    <SongShowMin client:load />
  </div>
</Layout>
